<!-- ROUTING NAV -->
<!-- <nav class="rout-btn">
  <a routerLink="/search-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Search Recipe</a>
  <a routerLink="/ingredient-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Ingredient Recipe</a>
  <a routerLink="/random-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Random Recipe</a>
</nav> -->


<!-- Input per inserire gli ingredienti separati da virgola -->
<!--
<form (submit)="(searchRecipes)" (click)="searchRecipes(ingredients.split(','))">
  <input type="text" placeholder="Ingredients separated by commas..." [(ngModel)]="ingredients" name="searchQuery">
</form> -->


<!-- <form (submit)="searchRecipes(ingredients)">
  <input type="text" placeholder="Ingredients separated by commas..." [(ngModel)]="ingredients" name="searchQuery">
</form> -->


<mat-form-field class="form">
  <mat-label>Your ingredients:</mat-label>
  <mat-chip-grid class="input" #chipGrid aria-label="Enter ingredients">
    <mat-chip-row *ngFor="let fruit of ingredientsArrayFruits"
                  (removed)="remove(fruit)"
                  [editable]="true"
                  (edited)="edit(fruit, $event)"
                  [aria-description]="'press enter to edit ' + fruit.name">
      {{fruit.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input placeholder="Enter your ingredients..."
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
<button (click)="searchRecipes(ingredientsArrayFruits)"> CERCA</button>




<div class="search-result">
  <div *ngFor="let result of recipes" class="item">
    <img [src]="result.recipe.image" alt="">

    <div class="pad">
      <div class="flex-container">
        <h1 class="title">{{ result.recipe.label }}</h1>
        <a class="view-btn" target="_blank" [href]="result.recipe.shareAs">View Recipe</a>
      </div>

      <p class="item-data">Calories: {{ result.recipe.calories.toFixed(2) }}</p>
      <p class="item-data">Diet label: {{ result.recipe.dietLabels.length>0?result.recipe.dietLabels:'NoDataFound'}}</p>
      <!-- <p class="item-data">Health labels: <br> {{ result.recipe.healthLabels }}</p> -->
    </div>
  </div>
</div>


<button class="back-to-top-btn" (click)="scrollToTop()" [class.show]="showBackToTop">
  <span>&uarr;</span>
</button>

