<div class="container">
  <mat-form-field class="form" > <!--appearance="outline"-->

    <mat-label>Search your ingredients</mat-label>
    
    <!-- FORM -->
    <mat-chip-grid class="input" #chipGrid aria-label="Enter ingredients">

      <!-- CHIPS -->
      <mat-chip-row *ngFor="let fruit of ingredientsArrayFruits"
      (removed)="remove(fruit)" [editable]="true"
      (edited)="edit(fruit, $event)"
      [aria-description]="'press enter to edit ' + fruit.name">
        {{fruit.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name"><mat-icon>cancel</mat-icon></button>
      </mat-chip-row>

      <!--#region BOTTONE DI RICERCA -->
      <input placeholder="Enter your ingredients..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"/>
        <!--#endregion BOTTONE DI RICERCA -->

      </mat-chip-grid>
    </mat-form-field>
    <!-- <div style="display: flex; justify-content: center;"> -->
      <button class="searchIngredients-btn" (click)="searchRecipes()"><mat-icon class="search-icon searchIngredients-btn">search</mat-icon></button>
    <!-- </div> -->

    </div>


<app-navbar *ngIf="recipes.length >0"></app-navbar>


<!--#region RISULTATO DELLA RICERCA -->
<div class="search-result">
  <div *ngFor="let hit of recipes" class="item">
    <img [src]="hit.recipe.image">

    <div class="pad">
      <div class="flex-container">
        <h1 class="title">{{ hit.recipe.label }}</h1>
        <a class="view-btn" target="_blank" [href]="hit.recipe.url">View Recipe</a>
      </div>

      <p class="item-data" *ngIf="hit.recipe.totalTime > 0"><span class="material-symbols-outlined">timer</span>
        Time:{{hit.recipe.totalTime}} min</p>

      <p class="item-data"><span class="material-symbols-outlined">nutrition</span>
        Diet label: {{hit.recipe.dietLabels.length>0?hit.recipe.dietLabels:'NoDataFound'}}</p>
        
      <p class="item-data"><span class="material-symbols-outlined">local_fire_department</span>
        Calories: {{hit.recipe.calories.toFixed(0) }} kcal</p>

      <details class="item-data health-labels">
        <summary><span class="material-symbols-outlined">psychiatry</span>Health labels...</summary>
        <p class="labels-health">{{ hit.recipe.healthLabels }}</p>
      </details>
      
    </div>
  </div>
</div>
<!--#endregion RISULTATO DELLA RICERCA -->

<span *ngIf="recipes.length> 0" class="spacer"></span>
