<nav class="rout-btn">
  <button mat-raised-button color="trasparant" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Search recipe</button>
  <button mat-raised-button color="trasparant" routerLink="/random" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Random recipe</button>
  <button mat-raised-button color="trasparant" routerLink="/ingredient" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Search ingredients</button>
</nav>
