<!-- ORA FARO DEI TEST CON L' API, VOGLIO SPERIMAENTARE E VEDERE COSA POSSO FARE.
  COPIERO UGUALE IL RECIPE.COMPONENT HTML,CSS E TS-->
<!--GET https://www.themealdb.com/api/json/v1/1/random.php-->
<!----------------------------------------------------------------------------------------------------->
<div class="main">
  <div class="search-result">
    <div *ngFor="let rand of randomRecipe" class="item">
      <img [src]="rand.strMealThumb" alt="">

      <div class="pad">
        <div class="flex-container">

          <h1 class="title">{{ rand.strMeal }}</h1>

        </div>

        <div class="item-data">
          <p><span class="material-symbols-outlined">restaurant</span> Category: {{rand.strCategory}}</p>
          <p><span class="material-symbols-outlined">flag</span> Country: {{rand.strArea}}</p>

          <details class="Ingredients">
            <summary><span class="material-symbols-outlined">format_list_bulleted</span> Ingredients</summary>
            <div class="ingredients-list">
              <li *ngIf="rand.strIngredient1 && rand.strMeasure1">{{rand.strIngredient1}} {{rand.strMeasure1}} </li>
              <li *ngIf="rand.strIngredient2 && rand.strMeasure2">{{rand.strIngredient2}} {{rand.strMeasure2}} </li>
              <li *ngIf="rand.strIngredient3 && rand.strMeasure3">{{rand.strIngredient3}} {{rand.strMeasure3}} </li>
              <li *ngIf="rand.strIngredient4 && rand.strMeasure4">{{rand.strIngredient4}} {{rand.strMeasure4}} </li>
              <li *ngIf="rand.strIngredient5 && rand.strMeasure5">{{rand.strIngredient5}} {{rand.strMeasure5}} </li>
              <li *ngIf="rand.strIngredient6 && rand.strMeasure6">{{rand.strIngredient6}} {{rand.strMeasure6}} </li>
              <li *ngIf="rand.strIngredient7 && rand.strMeasure7">{{rand.strIngredient7}} {{rand.strMeasure7}} </li>
              <li *ngIf="rand.strIngredient8 && rand.strMeasure8">{{rand.strIngredient8}} {{rand.strMeasure8}} </li>
              <li *ngIf="rand.strIngredient9 && rand.strMeasure9">{{rand.strIngredient9}} {{rand.strMeasure9}} </li>
              <li *ngIf="rand.strIngredient10 && rand.strMeasure10">{{rand.strIngredient10}} {{rand.strMeasure10}} </li>
              <li *ngIf="rand.strIngredient11 && rand.strMeasure11">{{rand.strIngredient11}} {{rand.strMeasure11}} </li>
              <li *ngIf="rand.strIngredient12 && rand.strMeasure12">{{rand.strIngredient12}} {{rand.strMeasure12}} </li>
              <li *ngIf="rand.strIngredient13 && rand.strMeasure13">{{rand.strIngredient13}} {{rand.strMeasure13}} </li>
              <li *ngIf="rand.strIngredient14 && rand.strMeasure14">{{rand.strIngredient14}} {{rand.strMeasure14}} </li>
              <li *ngIf="rand.strIngredient15 && rand.strMeasure15">{{rand.strIngredient15}} {{rand.strMeasure15}} </li>
              <li *ngIf="rand.strIngredient16 && rand.strMeasure16">{{rand.strIngredient16}} {{rand.strMeasure16}} </li>
              <li *ngIf="rand.strIngredient17 && rand.strMeasure17">{{rand.strIngredient17}} {{rand.strMeasure17}} </li>
              <li *ngIf="rand.strIngredient18 && rand.strMeasure18">{{rand.strIngredient18}} {{rand.strMeasure18}} </li>
              <li *ngIf="rand.strIngredient19 && rand.strMeasure19">{{rand.strIngredient19}} {{rand.strMeasure19}} </li>
              <li *ngIf="rand.strIngredient20 && rand.strMeasure20">{{rand.strIngredient20}} {{rand.strMeasure20}} </li>
            </div>
          </details>


          <details>
            <summary><span class="material-symbols-outlined">menu_book</span>Instructions</summary>
            <p class="ingredients-list">{{rand.strInstructions}}</p>
          </details>

        </div>

        <a class="view-btn flex-container" target="_blank" [href]="rand.strSource">View Recipe</a>

      </div>
    </div>
  </div>
  <button class="reloadRecipe" (click)="loadRandomRecipe()"> Another Recipe</button>
</div>
