<!-- ORA FARO DEI TEST CON L' API, VOGLIO SPERIMAENTARE E VEDERE COSA POSSO FARE.
  COPIERO UGUALE IL RECIPE.COMPONENT HTML,CSS E TS-->
<!--GET https://www.themealdb.com/api/json/v1/1/random.php-->
<!----------------------------------------------------------------------------------------------------->
<div class="main">
  <div class="search-result">
    <div *ngFor="let rand of randomRecipe" class="item">
      <img [src]="rand.strMealThumb" alt="">

      <div class="pad">
        <div class="flex-container">

          <h1 class="title">{{ rand.strMeal }}</h1>
          <a class="view-btn" target="_blank" [href]="rand.strSource">View Recipe</a>

        </div>
<!--
        <details class="item-data">
          <summary>Ather info...</summary>
          <p>Country: {{rand.strArea}}</p>
          <p>Category: {{rand.strCategory}}</p>
        </details> -->



      </div>
    </div>
  </div>

  <button class="reloadRecipe" (click)="loadRandomRecipe()"> Another Recipe</button>
</div>


<!-- ROUTING NAV -->
<!-- <nav class="rout-btn">
  <a routerLink="/search-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Search Recipe</a>
  <a routerLink="/ingredient-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Ingredient Recipe</a>
  <a routerLink="/random-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Random Recipe</a>
</nav> -->
