
.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 30px;
  font-family: "Nunito";
  // margin: auto;
}

app-footer{
  border-color: solid 1px green;
  display: flex;
  flex-direction: column;
}
