<section>
  <div class="container initial">
    <h1 class="brand">Rand Eat</h1>

    <router-outlet></router-outlet>

    <app-navbar></app-navbar>

    <!-- <nav class="rout-btn">
      <a routerLink="/search-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Search Recipe</a>
      <a routerLink="/ingredient-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Ingredient Recipe</a>
      <a routerLink="/random-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-btn">Random Recipe</a>
    </nav> -->
  </div>
</section>
