section{
    background: url(../assets/wallpaper/3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // background-size: 100vw 100vh;
    // height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    // height: calc(var(--vh, 1vh) * 100);
}


.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 30px;
  font-family: "Nunito";
  // margin: auto;
}

app-footer{
  border-color: solid 1px green;
  display: flex;
  flex-direction: column;
}
