<form (submit)="onSubmit()">
  <input type="text" placeholder="Search Your Recipe..." [(ngModel)]="searchQuery" name="searchQuery">
  <!-- <input type="text"  [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}"> -->
</form>

<nav class="rout-btn">
  <a routerLink="/search-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Search
    Recipe</a>
    <a routerLink="/random-recipe" routerLinkActive="active" ariaCurrentWhenActive="page" class="view-btn nav-btn">Random
      Recipe</a>
    </nav>

<div class="search-result">
  <div *ngFor="let result of searchResults" class="item">
    <img [src]="result.recipe.image" alt="">

    <div class="pad">
      <div class="flex-container">
        <h1 class="title">{{ result.recipe.label }}</h1>
        <a class="view-btn" target="_blank" [href]="result.recipe.url">View Recipe</a>
      </div>

      <p class="item-data">Calories: {{ result.recipe.calories.toFixed(2) }}</p>
      <p class="item-data">Diet label: {{ result.recipe.dietLabels.length>0?result.recipe.dietLabels:'NoDataFound'}}</p>
      <!-- <p class="item-data">Health labels: <br> {{ result.recipe.healthLabels }}</p> -->.
    </div>
  </div>
</div>



<!-- NOTE -->
<!-- per fare la net page una chiamata al link della prossima pagina-->
<!-- tasto ritorna alla home in alto -->


