@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

// html,
// body,
// * {
//   margin: 0;
//   padding: 0;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: solid 1px green;
}

html {
  font-family: "Nunito";
  font-size: 12px;
}

//------------------------------------------------

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-image: url(./assets/wallpaper/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.view-btn {
  text-decoration: none;
  text-align: center;
  // width: 130px;
  min-width: max-content;
  padding: 10px;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}

.container.initial .brand {
  font-size: 7rem;
}

.container.initial form {
  max-width: 800px;
}

.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}

app-ingredient{
  max-height: max-content;
}
.ng-star-inserted{
  max-height: max-content;
}
//-------------------------------------------------------

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }

  .container.initial .brand {
    font-size: 4rem;
  }

  .container.initial form {
    max-width: 500px;
  }

  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//--------------------------------
// MATERIAL

// .mat-mdc-form-field-focus-overlay{

// }
